.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 50px;
    background-color: greenyellow;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 20px;
    gap: 60px;
    background-color: red;
}
.main_box img{
    background-color: blue;
    width: 150px;
    height:200px;
}
.box{
    width: 150px;
    height: auto;
    background-color: blue;
    border-radius: 1rem;
}