.container{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    padding: 20px;
    height: 1000px;
}
a{
    text-decoration-line: none;
    text-decoration-color: rgb(107, 112, 122);
}
a:link{
    color: rgb(107, 112, 122);
}
a:visited{
    color: rgb(107, 112, 122);
}
.top_head{
    display: flex;
}
.exhibition{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5px;
    background-color: white;
}
.info{
    opacity: 0.6;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: rgb(241, 243, 246);
    border-radius: 5px;
    margin-bottom: 10px;
}
.main_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 20px;
    gap: 60px;
    height: 800px;
    background-color: white;
    overflow-y: auto;
}
.box img{
    width: 150px;
    height:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box{
    width: 150px;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid rgb(242, 242, 242);
    padding: 5px;
}
.mp_footer{
    background-color: rgb(241, 243, 246);
    margin-left: 160px;
    margin-top: 10px;
}